footer {
    background-color: #171d29;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 3vh;
}

footer > a:link {
    color: white
}

footer > a:visited {
    color: white
}