form {
    display: flex;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    flex-direction: column;
    width: 80%;
}

input {
    display: block;
    margin: 7px auto !important;
    padding: 5px;
    width: 90%;

}

form > button {
    margin: auto; 
    padding: 8px;
    background-color: #f76d43;
    color: #ffffff;
    border-radius: 5px;
    transition: 0.3s;
    width: 30%;
}

form > button:hover {
    background-color: #ff0000;
}