.App {
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Nunito Sans', sans-serif;
}

a { 
  text-decoration: none;
}

a:link, a:visited {
  color: black
}

main {
  display: flex !important; 
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.menu {
  /* order: 1; */
  display: block;
  border: black 1px solid;
  padding: 20px;
  margin: 
}

.main-content {
  flex: 4;
  margin: 10px auto;
}

.title {
  font-size: 2rem;
}

.back_button {
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 7px auto
}

.back_button:hover {
  background-color: orange;
  color: white;
}

@media screen and (max-width: 600px) {
  main, .side-menu {
    flex-direction: column;
  }

  .side-menu {
    display: none;
  }
}